// Colors
$white: #ffffff;
$black: #000000;

// second var #EC2675
$pink-accent: #FF4FD8;
$dark-main: #0B0B1D;

$gradient-dark: linear-gradient(to bottom, #0b0a0ab7 0%, transparent 100%);
$border-pink:rgba(255, 79, 216, 0.2);

//
$radius: 3px;
