@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "./variables";
@import "./reset";

body {
  font-family: "Press Start 2P", cursive;
  background-color: $dark-main;
  color: $pink-accent;
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 18px 36px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
