@import "../../styles/variables";

.Navbar {
  margin-bottom: 36px;

  &__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
    padding: 18px 24px;
    background: $gradient-dark;
    border: 3.5px solid $border-pink;
    border-radius: $radius;
  }

  &__logo {
    grid-column: 1;
    justify-self: start;
  }

  &__links {
    display: flex;
    gap: 36px;
    grid-column: 2;
    justify-self: center;
  }

  &__link {
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-2px); // little jump
      animation: flicker 1.5s infinite alternate;
    }
  }

  &__avatar {
    grid-column: 3;
    justify-self: end;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes flicker {
  0% {
    text-shadow: 0 0 2px #ff4fd8, 0 0 6px #ff4fd8;
  }
  50% {
    text-shadow: 0 0 8px #ff4fd8, 0 0 20px #ff4fd8;
  }
  100% {
    text-shadow: 0 0 4px #ff4fd8, 0 0 10px #ff4fd8;
  }
}
