@import "../../styles/variables";

.MainButton {
  text-transform: uppercase;
  padding: 12px 36px;
  border: 3px solid $pink-accent;
  color: $white;
  border-radius: $radius;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.7s ease;
  // font-family: "Press Start 2P", cursive;
  font-family: var(--font-press-start);
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 0 2px $pink-accent, 0 0 5px $pink-accent;
  box-shadow: 0 0 2px $pink-accent, 0 0 5px $pink-accent;
  background-color: $border-pink;
  


  &:hover {
    transform: scale(1.15);
    background-color: $pink-accent;
    text-shadow: 0 0 2px $dark-main, 0 0 5px $dark-main;
  }

}