@import "../../styles/variables";

.Poster {
  border: 3.5px solid $border-pink;
  border-radius: $radius;
  width: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;


  // Background blur effect
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    backdrop-filter: blur(10px);
  }

  // Content stays on top
  &__content {
    position: relative;
    width: 100%;
    background-image: url("/images/poster.JPEG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    z-index: 2;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: $radius;
  }

  &__buttons {
    display: flex;
    gap: 42px;
  }
}
